<html>
    <head>
        <title>Debasis Rout's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Debasis Rout's Blog</a></h1>
        </div>
        <div> 
            <p>published 21:10:2020 5:00 pm</p>
            <h2><a href="">Who am I</a></h2>
            <p>I am your lovely friend Debasis. I will always help you, during your difficult times. Donot worry. Be nice to everyone, the world will love you one day. </p>
        </div>
        <div> 
            <p>published 21:10:2020 5:00 pm</p>
            <h2><a href="">What am I doing here?</a></h2>
            <p>I am creating blogs here. I want to share some information. </p>
        </div>

        
    </body>
</html>